.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

.modalContainer {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 90%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 0.5rem;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  z-index: 1000;
  border: 1px solid grey;
  overflow: auto;
  max-height: 80vh;
}

.close-button {
  position: fixed;
  top: 5px;
  right: 15px;
  color: white;
  height: auto;
  width: auto;
}

.close-button:hover {
  font-weight: bold;
  cursor: pointer;
}

.loadingMsg {
  color: antiquewhite;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .modalContainer {
    flex-direction: column;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: auto;
    align-items: center;
  }

  .close-button {
    position: fixed;
    top: 5px;
    right: 35px;
    color: white;
    height: auto;
    width: auto;
  }
  
  .close-button:hover {
    font-weight: bold;
    cursor: pointer;
  }
}
